/* Html.css and Css.css can share the same rules */
.page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  text-align: center;
  gap: 1rem;
  padding: 2rem;
  background-color: #e2efde;
}
h1 {
  color: #808f87;
}
h2 {
  color: #9b7e46;
}
table,
th,
td {
  border: 1px solid #9b7e46;
  border-collapse: collapse;
}
table {
  width: 80vh;
}
th {
  background-color: #f4b266;
}
th,
td {
  padding: 5px;
}
