/* Html.css and Css.css can share the same rules */
.page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  text-align: center;
  gap: 1rem;
  padding: 2rem;
}
.table-container,
td,
th {
  border: 1px solid black;
}
