.color-container {
  /* background-color: #f7f7f7; */
  width: 80%;
  height: 350px;
  border: 1px solid black;
  border-radius: 15px;
  margin: 45px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h3 {
  top: 0;
  left: 0;
  padding: 25px 0 0 25px;
  width: 100%;
}
.colors {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.color {
  padding: 30px 75px;
  border-radius: 15px;
  width: 30%;
  text-align: center;
}
.one {
  background-color: #626262;
}
.two {
  background-color: #bdbdbd;
}
.three {
  background-color: #e2e2e2;
}
